span.paper_title {
	font-size: 20pt;
	line-height: 22pt;
}
h3.closer {
	line-height: 22pt;
}

li {
	margin: 0 0 20pt 0;
}
h6.taglist {
	line-height: 22pt;
}
span.taglink {
	padding: 1pt 3pt 1pt 3pt;
	background-color: #DDDDDD;
	border: 2pt solid #BBBBBB;
	white-space: nowrap;
}
pre {
	white-space: pre;
	overflow: auto;
	background-color: #EFEFEF;
	border: 1pt solid #DDDDDD;

}
p.textblock {
	text-align: justify;
}
ul.servlist {
	list-style-type: square;
}
li.servitem {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
