span.paper_title {
	font-size: 20pt;
	line-height: 22pt;
}
h3.closer {
	line-height: 22pt;
}

li {
	margin: 0 0 20pt 0;
}
h6.taglist {
	line-height: 22pt;
}
/*
span.taglink {
	padding: 1pt 3pt 1pt 3pt;
	background-color: #DDDDDD;
	white-space: nowrap;
}
*/
span.taglink {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    padding: 3px 4px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}
span.taglink:hover {
  background-color: #C4DAE9;
  border-bottom: 1px solid #C4DAE9;
  border-right: 1px solid #C4DAE9;
  text-decoration: none;
}
pre {
	white-space: pre;
	overflow: auto;
	background-color: #EFEFEF;
	border: 1pt solid #DDDDDD;

}
p.textblock {
	text-align: justify;
}
ul.servlist {
	list-style-type: square;
}
li.servitem {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.my-side-nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

li.tagitem {
	margin: 0;
	padding: 0;
	padding-top: 5px;
}
