---
layout: index 
title: Shane McIntosh - Assistant Professor
---

<div class="row">
  <div class="large-6 columns">
    <h2 id="about">About Me</h2>
    <p class="textblock">I am an Assistant Professor in the Department of Electrical and Computer Engineering at McGill University (<a href="http://www.mcgill.ca/ece/">McGill ECE</a>). Broadly speaking, I perform empirical studies that mine historical data generated during the development of large-scale software systems. Specifically, my research focuses on <i>release engineering</i> (i.e., the process of assembling, verifying, and delivering releases of software systems from its sources) and <i>software quality</i> (i.e., deriving practical guidelines for developing more reliable software systems). Email me at
    <tt><font size=3>[first_name].[family_name]@mcgill.ca</font></tt> for more info.</p>
  </div>
  <div class="large-6 columns">
    <center><img src="/assets/shane_new.jpg" class="mepic" /></center>
  </div>
</div>

<hr />

<div class="row" >
  <div class="large-12 columns">
  <h2 id="research">Research</h2>
  <h3>International Journal Papers</h3>
  <ol class="posts">
    {% for post in site.posts %}
      {% if post.type == "journalpaper" %}
        {% include paper.ext %}
      {% endif %}
    {% endfor %}
  </ol>

  <h3>International Conference Papers (Full)</h3>
  <ol class="posts">
    {% for post in site.posts %}
      {% if post.type == "confpaper" %}
        {% include paper.ext %}
      {% endif %}
    {% endfor %}
  </ol>

  <h3>International Conference Papers (Short)</h3>
  <ol class="posts">
    {% for post in site.posts %}
      {% if post.type == "shortconfpaper" %}
        {% include paper.ext %}
      {% endif %}
    {% endfor %}
  </ol>

  <h3>International Workshop Papers</h3>
  <ol class="posts">
    {% for post in site.posts %}
      {% if post.type == "workshoppaper" %}
        {% include paper.ext %}
      {% endif %}
    {% endfor %}
  </ol>

  <h3>Theses</h3>
  <ol class="posts">
    {% for post in site.posts %}
      {% if post.type == "thesis" %}
        {% include paper.ext %}
      {% endif %}
    {% endfor %}
  </ol>
  </div>
</div>

<hr />

<div class="row">
  <div class="large-12 columns">
  <h2 id="teaching">Teaching</h2>
  <ul class="posts">
    <li>
    ECSE 321: Introduction to Software Engineering (Fall 2015)
    </li>
  </ul>
  </div>
</div>

<hr />

<div class="row">
  <div class="large-12 columns">
  <h2 id="service">Service</h2>
  <ol class="posts">
    {% for s in site.data.service %}
    <li>    
      {% include service.ext %}
    </li>
    {% endfor %}
  </ol>
  </div>
</div>

<hr />

<div class="row">
  <div class="large-12 columns">
  <h2 id="recognition">Recognition</h2>
  <h3>Scholarships</h3>
  <ol class="posts">
    {% for sc in site.data.scholarships %}
    <li>    
      {% include scholarship.ext %}
    </li>
    {% endfor %}
  </ol>

  <h3>Awards</h3>
  <ol class="posts">
    {% for rec in site.data.recognition %}
    <li>    
      {% include recognition.ext %}
    </li>
    {% endfor %}
  </ol>
  </div>
</div>
