---
layout: index 
title: Shane McIntosh - McGill University
index: true
---

<div class="row" >
  <div class="large-9 columns" role="content">
    <h2 id="research">Research</h2>
    <p class="textblock">At McGill University, I lead the <a href="http://rebels.ece.mcgill.ca/">Software Repository Excavation and Build Engineering Labs (the Software REBELs)</a>. Broadly speaking, my students and I perform empirical studies that mine the historical data that is generated during the development of large-scale software systems. Specifically, my research focuses on <i>release engineering</i> (i.e., the process of assembling, verifying, and delivering releases of software systems from its sources) and <i>software quality</i> (i.e., deriving practical guidelines for developing more reliable software systems).</p>
  </div>
  <div class="large-3 columns" role="content">
    <img src="/assets/rebels.png" align="right" />
  </div>
</div>
  

  <hr />

<div class="row">
  <div class="large-12 columns">
  <h2 id="teaching">Teaching</h2>
    {% include teaching.ext %}
  </div>
</div>

<hr />

<div class="row">
  <div class="large-12 columns">
  <h2 id="service">Service</h2>
  <ul class="posts">
    {% for s in site.data.service %}
    <li>    
      {% include service.ext %}
    </li>
    {% endfor %}
  </ol>
  </div>
</div>

<hr />

<div class="row">
  <div class="large-12 columns">
  <h2 id="recognition">Recognition</h2>

  <h3>Awards</h3>
  <ol class="posts">
    {% for rec in site.data.recognition %}
    <li>    
      {% include recognition.ext %}
    </li>
    {% endfor %}
  </ol>
  </div>
</div>
