<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- <script src="js/vendor/modernizr.js"></script> -->
  </head>
  <body>
    <!-- Nav Bar -->
    {% include navbar.ext %}
 
    <!-- Main Page Content -->
    <div class="row">
      <div class="large-2 columns" role="content">
        <img src="/assets/shane.jpg" class="mepic" align="right" />
      </div>
      <div class="large-10 columns" role="content">
        Shane McIntosh <br />
        Associate Professor <br />
        <a href="https://cs.uwaterloo.ca/">David R. Cheriton School of Computer Science</a> <br />
        <a href="https://uwaterloo.ca/">University of Waterloo</a><br />
        Email: <tt><font size=3>[first_name].[family_name]@uwaterloo.ca</font></tt><br /><br />
      </div>
    </div>

    <div class="row">
      {% if page.index %}
        <hr />
      {% endif %}
      <div class="large-12 columns" role="content">
        {{ content }} 

      </div>

    </div>
 
  </div>
 
  {% include footer.ext %}
    
  </body>
</html>
