---
layout: index
---
<article>
 
  <h3 class="closer">{{ page.title }}</h3>
  <h6><b>Authors</b> - {{ page.authors }}<br />
	  <b>Venue</b> - {{ page.venue }}, {{ page.pages }}, {{ page.pubyear }}</h6>
  <h6 class="taglist"><b>Topics</b> -
  {% for tag in page.tags %}
    <a href="/tags/{{ tag }}.html"><span class="taglink">{{ tag }}</span></a>
  {% endfor %}
  </h6>
 
  <p><b>Abstract</b> - {{ page.abstract }}</p>
  <p><b>Preprint</b> - <a href={{ page.preprint }}>PDF</a></p>
  <p><b>Bibtex</b>
  {% highlight tex %}{{ page.content }}{% endhighlight %}
  {% if page.slides %}
    <p><b>Slides</b> - <a href={{ page.slides }}>Slideshare</a></p>
  {% endif %}

 
</article>
